{% extends "base.html" %}
{% load static %}
{% load blog_tags %}

{% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}


    

{% block content %}



  <div class="container">
                    <div id="main">
                            <article class="post" style="border: none;">
                              <div class="row">
                                <div class="col-md-6">
                                        <section>
                                            <div class="_ct1v4k4">
                                              <h1 class="_tpbrp">amoonb城市版</h1>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="_5bww6jd">开始吧，你的免费探索之旅</div>
                                            </div>
                                            <div class="col-md-6">
                                              <a href="/list">
                                              <button class="_jlbqs9x">
                                                  <span>立即探索</span>
                                              </button>
                                              </a>
                                            </div>
                                        </section>
                                </div>
                                 <div class="col-md-6">
                                  <video loop="" muted="" playsinline="" autoplay="" style="object-fit:cover; width: 100%; height: 300px;border-radius: 4px;overflow: hidden;"><source type="video/mp4" src="http://video.zcool.cn/dc2e2839d61341b98b6fcb5f7a0a83a2/977a45a7d7034958861a094285549495-5287d2089db37e62345123a1be272f8b.mp4">
                                  </video>
                                </div>
                              </div>





                          <div class="row">
                                <div style="border: none; width: 100%;padding: 1em;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form class="bs-example bs-example-form" role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="input-group">
                                                        <input type="text" placeholder="搜索免费经验" class="search" data-live-search="true" id="basic" style="overflow-y: hidden;border: none" autocomplete="off" name="q">
                                                          <span class="input-group-btn">
                                                               <button class="btn2 gradient ripple" style="color: #ffffff !important;"  type="submit">搜索</button>
                                                          </span>
                                                      </div><!-- /input-group -->
                                                  </div><!-- /.col-lg-6 -->
                                              </div><!-- /.row -->
                                          </form>
                                    </div>
                                 </div>
                            </div>
                            </div>



<div class="row">
  <div class="col-md-12">
    <div class="_c0qx5fd">推荐搜索</div>  
  </div> 
</div> 






<div class="row">
    <nav class="c-tabs" data-toggle="c-tabs" role="navigation">
      <ul class="c-tab--navigation">
        <li class="c-tab--item"><a href="#test1" class="active">分类</a></li>
        <li class="c-tab--item"><a href="#test2">职业</a></li>
        <li class="c-tab--item"><a href="#test3">新出炉</a></li>
        <li class="c-tab--slider">
          <div class="c-tab-indicator"></div>
        </li>
      </ul>
    </nav>
</div>

<div class="c-tab--content-container">
      <div id="test1" class="c-tab--content active">
        <div style="margin-top: 2px;">
          <div class="htmleaf-container">
          <div class="mhn-slide owl-carousel">                                     
          {% get_categories as category_list %}
          {% for category in category_list %}
          <a href="{% url 'blog:category' category.pk %}" target="_blank">
                <div class="_1ftjwi4b">
                  <div class="_j1qvyg">
                    <div class="_1p2m1sm">
                        <div class="_1paxf71">
                          <div class="_i1d3td" style="background-image: url({% if category.image %}{{ category.image.url }}{% else %}{% endif %});">
                            <div class="_9tsxt7">
                              <div class="_7duv9f5">
                              <span class="_1ezogpo">
                               <span>{{ category.name }}</span>
                              </span>
                              </div>
                            <div class="_1221viw">
                              <div class="_sd9w31l"><span class="_1bfef4c">{{ category.body }}</span></div>
                            </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
            {% empty %}
               暂无分类！
            {% endfor %}
        </div>
        </div>                                 
        </div>
      </div>
      <div id="test2" class="c-tab--content">
        <div style="margin-top: 2px;">
         <div class="htmleaf-container">
          <div class="mhn-slide owl-carousel">                                      
          {% get_tags as tag_list %}
          {% for tag in tag_list %}
          <a href="{% url 'blog:tag' tag.pk %}" target="_blank">
                <div class="_1ftjwi4b">
                  <div class="_j1qvyg">
                    <div class="_1p2m1sm">
                        <div class="_1paxf71">
                          <div class="_i1d4td" style="background-image: url({% if tag.image %}{{ tag.image.url }}{% else %}{% endif %});">
                            <div class="_9tsxt7">
                              <div class="_7duv9f5">
                              <span class="_1ezogpo">
                               <span style="color: #333;">{{ tag.name }}</span> 
                              </span>
                              </div>
                            <div class="_1221viw">
                              <div class="_sd9w31l"><span class="_1bfef4c">{{ tag.body }}</span></div>
                            </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </a>
            {% empty %}
               暂无分类！
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
      <div id="test3" class="c-tab--content">
        <div style="margin-top: 2px;">
        <div class="htmleaf-container">
        <div class="mhn-slide owl-carousel">                                
          {% get_recent_posts as recent_post_list %}
          {% for post in recent_post_list %}
          <a href="{{ post.get_absolute_url }}" target="_blank">
                <div class="_1ftjwi4b">
                  <div class="_j1qvyg">
                    <div class="_1p2m1sm">
                        <div class="_1paxf71">
                          <div class="_i1d5td" style="background-image: url({% if post.image %}{{ post.image.url }}{% else %}{% endif %});">
                            <div class="_9tsxt7">
                              <div class="_7duv9f5">
                              <span class="_1ezogpo">
                               <span style="color: #333;">{{ post.title }}</span> 
                              </span>
                              </div>
                            <div class="_1221viw">
                              <div class="_sd9w31l"><span class="_1bfef4c">新出炉</span></div>
                            </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </a>
          {% empty %}
           暂无分类！
          {% endfor %}
        </div>
        </div>
        </div>
      </div>

</div>




                    
  






            <div class="row">
                <div class="col-md-12">
                    <div class="_c0qx5fd">开始吧，你的免费探索之旅</div>  
                </div> 
            </div>
       <div class="_11wkgye" style="display: block;">
                    <div class="_siy8gh">
                    <div class="_2h22gn">
                        {% for post in post_list %}
                        <div class="_2syc27g">
                            <div class="_15jw76w" style="border-radius: 4px;">
                                <div class="_1szwzht">
                                    <a href="{{ post.get_absolute_url }}" target="_blank">
                                    <div class="_6ikqekk" style="width: 100%; height: 100%; background-image: url({% if post.image %}{{ post.image.url }}{% else %}{% endif %});" >
                                        </div>
                                      </a>
                                </div>
                            </div>



                          <div style="margin-bottom:4px">
                            <div class="_190019aa">
                              <span class="_hlupyy"><a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
                                </span>
                            </div>
                          </div>

                        
                              <div style="margin-bottom:4px">
                                <div class="_190019zr">
                                  <span class="_hlupyy"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span>
                                </div>
                              </div>


                              <div style="margin-bottom:8px">
                                <div class="_wbsbxz">
                                  <div class="_2q1l5fu">
                                    <span class="_1jj7gf6">{{ post.excerpt }}</span>
                                  </div>
                                </div>
                              </div>


                        </div>
                        
                        
                        {% empty %}
                        <div class="no-post">头条暂时为0，品味其他频道吧！</div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
 
          <div class="row">
                          <div class="col-md-12">
                              {% if is_paginated %}
                                          <div style="padding: 2em 0;">
                                              <ul class="pagination">
                                                  {% if first %}
                                                      <li><a href="?page=1">1</a></li>
                                                  {% endif %}
                                                  {% if left %}
                                                      {% if left_has_more %}
                                                          <li><span>...</span></li>
                                                      {% endif %}
                                                      {% for i in left %}
                                                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                      {% endfor %}
                                                  {% endif %}
                                                  <li class="current"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                                                  {% if right %}
                                                      {% for i in right %}
                                                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                      {% endfor %}
                                                      {% if right_has_more %}
                                                          <li><span>...</span></li>
                                                      {% endif %}
                                                  {% endif %}
                                                  {% if last %}
                                                      <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                                                  {% endif %}
                                              </ul>
                                          </div>
                                      {% endif %}
                          </div>
                      </div>



   
            </article><!--end Post -->
        </div><!-- end main -->
    </div><!-- end container -->

<script type="text/javascript">
document.body.innerHTML = document.body.innerHTML.replace(/plus/ig,"<span style='color: #fff;border-radius:3px; padding:.1em .4em;background-color:rgb(166, 29, 85);'>$&</span>");
document.body.innerHTML = document.body.innerHTML.replace(/学习/ig,"<span style='color: rgb(145, 188, 116);'>$&</span>");
document.body.innerHTML = document.body.innerHTML.replace(/音乐/ig,"<span style='color: #db3742;'>$&</span>");
document.body.innerHTML = document.body.innerHTML.replace(/视频/ig,"<span style='color: #4951a8;'>$&</span>");
document.body.innerHTML = document.body.innerHTML.replace(/图片/ig,"<span style='color: #B4A76C;'>$&</span>");
</script>


{% endblock %}






